*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: blue
}

.memorycard-game{
    display: flex;
    border: 5px;
    height: 640px;
    width: 640px;
}

.card-section{
    width: 500%;
    height: 33%;
    border: 2px solid aqua;
}

.front-card,
.back-card{
    border: 2px solid deeppink;
}
