/* Define a custom font called ActionComics */
@font-face {
  font-family: ActionComics;
  src: url(./assets/Action\ Comics.ttf);
}

/* Apply a reset to all elements, removing default padding and margin, and using border-box for box sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Style for the body element */
body {
  height: 100vh; /* Viewport height - visible area of your webpage */
  display: flex; /* Use flex display for the body */
  background-image: url(assets/Jbackground.png); /* Set the background image */
  background-size: cover; /* Cover the entire background with the image */
}

/* Style for elements with the class "game-Title" */
.game-Title {
  color: #39d325;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  font-weight: normal;
  text-align: left;
  font-size: 1em;
  margin: 10px;
  font-family: ActionComics;
}

/* Style for elements with the class "victory" */
.victory {
  font-size: 100; /* Note: This may need a unit like 'px' or 'em' */
}

/* Style for the element with the ID "you-win" */
#you-win {
  height: 300px;
  width: 500px;
}

/* Style for elements with the class "overlay-text" */
.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #179407;
  font-family: ActionComics;
}

/* Style for elements with the class "overlay-text-small" */
.overlay-text-small {
  font-size: .3em;
}

/* Style for elements with the class "overlay-text" and the class "visible" */
.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

/* Keyframes for the overlay animation */
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

/* Style for elements with the class "memorycard-game" */
.memorycard-game {
  width: 620px;
  height: 500px;
  margin: 30px;
  display: flex; 
  flex-wrap: wrap;
  perspective: 1000px; /* Depth of the element */
}

/* Style for elements with the class "cards" */
.cards {
  width: calc(25% - 15px);
  height: calc(33.333% - 10px);
  margin: 4px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d; /* To insert the card in the 3D space */
  transition: transform .5s; /* Transition effect */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

/* Style for active state of elements with the class "cards" */
.cards:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/* Style for flipped state of elements with the class "cards" */
.cards.flip {
  transform: rotateY(180deg); /* Rotate the cards 180 degrees */
}

/* Style for elements with the classes "front-card" and "back-card" */
.front-card,
.back-card {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(6, 90, 20), rgb(13, 187, 13) );
  backface-visibility: hidden;
}

/* Style for elements with the class "front-card" */
.front-card {
  transform: rotateY(180deg);  /* Rotate front face so that the player can see the front card */
}
