@font-face{
    font-family: ActionComics;
    src: url(./assets/Action\ Comics.ttf);
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-image: url(assets/Jbackground.png);
    background-size: cover;
}

.header {
    position: absolute;
    top: 150px; /* Adjust this value based on the desired distance from the top */
    left: 60%;
    transform: translateX(-50%);
    width: 50%;
    padding: 25px;
    font-size: 100;
    color: rgb(0, 250, 0);
    font-family: ActionComics;
}


.button1{  
    position: absolute;
    top: 50%;
    left: 40%;
    font-family: ActionComics;
}

.button2{
    position: absolute;
    top: 50%;
    left: 48%;
    font-family: ActionComics;
}

.button3{
    position: absolute;
    top: 50%;
    left: 59%;
    font-family: ActionComics;
}
